* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sitebody {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listbox {
    border: 2px black solid;
    border-radius: 10%;
    padding: 2rem 1rem;
}

.listintro {
    text-align: center;
    margin-bottom: 2rem;
}

.listintro__title {
    font-size: 1.6rem;
}

.listintro__description {
    font-size: 1.1rem;
}

.element {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: .5rem 1rem;
    border: .2rem black solid;
    border-radius: 1rem;
}

.element__removebutton {
    color: red;
    cursor: pointer;
}